:root {
    --nav-height: 3.8rem;
    --nav-img-height: 3.6rem;
    --per-card-height: 100vh;
    --per-card-width: 95vw;
    --per-card-padding-top: 15vh;
    --per-card-name-height: 10vh;
    --per-card-name-width: 10rem;
    --per-card-name-font-size: 2rem;
    --per-card-desc-height: 5vh;
    --per-card-desc-width: 40rem;
    --per-card-desc-font-size: 1.3rem;
}

/*  main  */
#web-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* nav */
#web-nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: var(--nav-height);
    line-height: var(--nav-height);
    background: white;
    border-bottom: black solid 2px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#logo-img {
    height: var(--nav-img-height);
    width: 7.2rem;
    cursor: pointer;
}

#web-nav-ul {
    font-size: 1rem;
    display: inline-flex;
    margin-left: auto;
    list-style: none;
}

#web-nav-ul-mobile {
    display: none;
}

#web-nav-ul li {
    text-align: center;
    margin-left: 20px;
    height: var(--nav-img-height);
    line-height: var(--nav-img-height);
    cursor: pointer;
}

/* content */
#web-content {
    width: 100%;
    height: var(--per-card-height);
    overflow-y: scroll;
}

/* show */
#web-content-show {
    padding-top: 20vh;
    height: var(--per-card-height);
    width: var(--per-card-width);
    margin: auto;
    border-bottom: lightgray solid 2px;
}

#web-content-show-name {
    height: 20vh;
    line-height: 20vh;
    width: 300px;
    font-size: 6rem;
    margin: auto;
}

#web-content-show-describe {
    height: 10vh;
    line-height: 10vh;
    width: 600px;
    margin: 8vh auto auto;
    font-size: 2.4em;
}

#web-content-show-shell {
    font-size: 1rem;
    width: 370px;
    height: 5vh;
    line-height: 5vh;
    margin: 5vh auto auto;
    border: none;
    white-space: nowrap;
    background: #161b22;
    border-radius: 0.5rem;
}

#span-docker {
    color: #ff7b72;
}

#span-run {
    color: white;
}

#web-content-show-demo-button {
    margin-top: 8vh;
    font-size: 1.3rem;
    background: white;
    color: black;
    border-radius: 0.1rem;
    border: black solid 2px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

#web-content-show-demo-button:hover {
    background: black;
    color: white;
}

/* function */
#web-content-function {
    padding-top: var(--per-card-padding-top);
    height: var(--per-card-height);
    width: var(--per-card-width);
    margin: auto;
    border-bottom: lightgray solid 2px;
}

#web-content-function-name {
    height: var(--per-card-name-height);
    line-height: var(--per-card-name-height);
    width: var(--per-card-name-width);
    font-size: var(--per-card-name-font-size);
    margin: auto;
}

#web-content-function-ul {
    display: inline-flex;
    list-style: none;
    margin: 5vh auto auto;
    cursor: pointer;
}

#web-function-ul li {
    text-align: center;
    font-size: 2rem;
}

.func-img {
    display: block;
    height: 13rem;
    width: 14rem;
}

.func-desc {
    width: 40rem;
    margin-left: 5rem;
    height: 15rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
}

.func-desc span {
    font-weight: bold;
    font-size: 1.1rem;
}

.func-desc p {
    font-size: 0.9rem;
    text-indent: 2rem;
    line-height: 1.4rem;
}

#show-func-link-1 {
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: black solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#show-func-link-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#show-func-link-3 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#show-func-link-4 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#show-func-link-5 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#show-func-link-6 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#func-1 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
}

#func-2 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
}

#func-3 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
}

#func-4 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
}

#func-5 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
}

#func-6 {
    width: 70vw;
    height: 50vh;
    margin: 5vh auto auto;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: none;
}

/* tech */
#web-content-tech {
    padding-top: var(--per-card-padding-top);
    height: var(--per-card-height);
    width: var(--per-card-width);
    margin: auto;
    border-bottom: lightgray solid 2px;
}

#web-content-tech-name {
    height: var(--per-card-name-height);
    line-height: var(--per-card-name-height);
    width: var(--per-card-name-width);
    font-size: var(--per-card-name-font-size);
    margin: auto;
}

#web-content-tech-describe {
    height: var(--per-card-desc-height);
    line-height: var(--per-card-desc-height);
    width: var(--per-card-desc-width);
    font-size: var(--per-card-desc-font-size);
    margin: auto;
}

#tech-img {
    margin-top: 2rem;
    width: 60vh;
    height: 50vh;
}

/* vip */
#web-content-vip {
    padding-top: var(--per-card-padding-top);
    height: var(--per-card-height);
    width: var(--per-card-width);
    border-bottom: lightgray solid 2px;
}

#web-content-vip-name {
    height: var(--per-card-name-height);
    line-height: var(--per-card-name-height);
    width: var(--per-card-name-width);
    font-size: var(--per-card-name-font-size);
    margin: auto;
}

#web-content-vip-table {
    background: white;
    margin: 5rem auto 1rem;
    border-collapse: collapse;
    width: 32rem;
}

#web-content-vip-table tr {
    height: 2.8rem;
}

#web-content-vip-table th {
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

#web-content-vip-table td {
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

.deep-tr {
    background: #f1f1f2;
}

.vip-svg-true {
    width: 20px !important;
}

.vip-svg-false {
    width: 20px !important;
}

/*  business */
#web-content-business {
    padding-top: var(--per-card-padding-top);
    height: var(--per-card-height);
    width: var(--per-card-width);
    margin: auto;
    border-bottom: lightgray solid 2px;
}

#web-content-business-name {
    width: 10rem;
    font-size: 2rem;
    margin: auto;
}

.web-content-business-describe {
    margin-top: 1rem;
    text-indent: 2em;
    text-align: justify;
}

#web-content-business-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2rem;
    margin: 4rem auto auto;
    width: 70rem;
}

.web-content-business-example {
    width: 15rem;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-top: black solid 3px;
}

.web-content-business-title {
    width: 15rem;
    display: inline-block;
}

.web-content-business-title img {
    width: 5rem !important;
    margin: 2rem auto auto;
    display: block;
}

.web-content-business-title span {
    font-size: 25px !important;
    display: block;
    width: 10rem;
    margin: 1rem auto auto;
}

/* link */
#web-link {
    padding-top: var(--per-card-padding-top);
    height: var(--per-card-height);
    width: var(--per-card-width);
    margin: auto;
}

#web-link-name {
    height: var(--per-card-name-height);
    line-height: var(--per-card-name-height);
    width: var(--per-card-name-width);
    font-size: var(--per-card-name-font-size);
    margin: auto;
}

#web-link-company {
    margin-top: 5rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#web-link-email {
    margin-top: 1.5rem;
    font-size: 1rem;
}

#web-link-wechat {
    margin-top: 1rem;
    width: 14rem;
}

#web-link-wechat-describe {
    color: grey;
    font-size: 0.8rem;
}
