@media screen and (max-width: 786px) {
    #web-nav-ul {
        display: none !important;
    }

    /*#web-content-show-shell {*/
    /*    width: 350px !important;*/
    /*}*/

    #web-content-function-ul {
        width: 90%;
    }

    #web-content-function-ul li {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
        line-height: 1.5rem;
        height: 7rem;
    }

    #tech-img {
        margin-top: 2rem;
        width: 22rem;
        height: 22rem;
    }

    #web-content-vip-table {
        background: white;
        margin: 2rem auto 1rem;
        border-collapse: collapse;
        width: 20rem;
    }

    #web-content-vip-table tr {
        height: 2.8rem;
    }

    #web-content-vip-table th {
        font-size: 18px;
        padding: 8px;
        text-align: center;
    }

    #web-content-vip-table td {
        height: 18px;
        line-height: 18px;
        font-size: 15px;
        padding: 8px;
        text-align: center;
    }

    .deep-tr {
        background: #f1f1f2;
    }

    #web-content-tech-describe {
        width: 20rem;
        margin: 1rem auto auto;
    }

    #web-content-tech {
        height: 34rem;
        margin-top: 4rem;
        border-bottom: lightgray solid 2px;
    }

    #func-1 {
        width: 90%;
    }

    #func-2 {
        width: 90%;
    }

    #func-3 {
        width: 90%;
    }

    #func-4 {
        width: 90%;
    }

    #func-5 {
        width: 90%;
    }

    #func-6 {
        width: 90%;
    }

    #web-function-ul li {
        margin-right: 30px;
        margin-left: 30px;
        text-align: center;
    }
}
