.add-link-modal .ant-modal-body {
    height: 500px;
}

.add-datasource-div {
    padding-top: 10px;
}

.test-click-div {
    width: 100%;
    display: inline-block;
    margin-top: 35px;
}

.test-link-btn {
    float: left;
}

.save-link-btn {
    float: right;
}

.link-log {
    display: none;
}

.link-name-input {
    height: 30px;
    width: 170px;
    margin-right: 20px;
}

.link-name-input-long {
    height: 30px;
    width: 475px;
    margin-right: 20px;
}

.source-label {
    display: block;
    width: 80px;
}

.source-host-div {
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.source-comment {
    width: 465px;
    height: 100px;
}

.source-comment-div {
    margin-top: 10px;
    height: 80px;
    line-height: 40px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: black solid 1px;
}

.advance-a {
    color: black;
    &:hover{
        color: #000;
    }
}
