.datalink-main {
    height: 60vh;
    width: 90%;
    margin: auto;
}

.datalink-opt-div {
    height: 2rem;
    overflow: hidden;
}

.datalink-add-datasource-btn {
    width: 8rem;
    height: 2rem;
    float: left;
}

.datalink-search-input {
    width: 14rem;
    height: 2rem;
    float: right;
}

.datalink-search-btn {
    width: 4rem;
    height: 2rem;
    float: right;
    margin-left: 1rem;
}

.datalink-table-div {
    margin-top: 2rem;
}
