#web-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#web-nav {
    position: absolute;
    z-index: 999;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: white;
    border-bottom: black solid 2px;
}

#logo-img {
    float: left;
    margin-left: 5%;
    display: block;
    height: 55px;
    width: 100px;
}

@media screen and (max-width: 786px) {
    #web-ul {
        display: none !important;
    }

    #web-content-first-shell {
        width: 350px !important;
    }

    #web-function-ul li {
        margin-right: 10px !important;
        margin-left: 10px !important;
        line-height: 25px;
    }

    #tec-img {
        margin-top: 3vh;
        margin-bottom: 2vh;
        width: 350px !important;
        height: 330px !important;
    }

    #web-vip-table {
        background: white;
        margin: 5vh auto auto;
        border-collapse: collapse;
        width: 90%;
    }

    #web-vip-table th {
        font-size: 18px;
        padding: 8px;
        text-align: center;
    }

    #web-vip-table tr {
        height: 50px;
    }

    #web-vip-table td {
        height: 18px;
        line-height: 18px;
        font-size: 15px;
        padding: 8px;
        text-align: center;
    }

    .deep-tr {
        background: #f1f1f2;
    }
}

#web-ul {
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 5%;
    display: inline-flex;
    list-style: none;
    font-size: 16px;
}

#web-ul li {
    text-align: center;
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
}

#web-content {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

#tec-img {
    width: 700px;
    height: 600px;
}

#web-content-first {
    height: 75vh;
    border-bottom: lightgray solid 2px;
}

#web-content-font {
    margin-top: 20vh;
    font-size: 70px;
}

#web-content-first-font {
    margin-top: 10vh;
    font-size: 40px;
}

#web-content-first-shell {
    font-size: 18px;
    width: 640px;
    height: 40px;
    line-height: 40px;
    margin: 10vh auto auto;
    border: none;
    white-space: nowrap;
    background: #161b22;
    border-radius: 10px;
}

#span1 {
    color: #ff7b72;
}

#span2 {
    color: white;
}

#span3 {
    color: white;
}

#web-content-first-button {
    margin-top: 10vh;
    font-size: 20px;
    background: white;
    color: black;
    border-radius: 5px;
    border: black solid 2px;
    width: 150px;
    height: 40px;
}

#web-function {
    margin-top: 10vh;
    height: 500px;
    border-bottom: lightgray solid 2px;
}

#web-function-font {
    width: 200px;
    font-size: 30px;
    margin: auto;
}

#web-function-ul {
    display: inline-flex;
    list-style: none;
    font-size: 18px;
}

#web-function-ul li {
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

#func-1-link {
    border-bottom: black solid 3px;
}

#func-2 {
    display: none;
}

#func-3 {
    display: none;
}

#func-4 {
    display: none;
}

#func-5 {
    display: none;
}

#func-6 {
    display: none;
}

#web-tec {
    margin-top: 10vh;
    border-bottom: lightgray solid 2px;
}

#web-tec-font {
    width: 200px;
    font-size: 30px;
    margin: auto;
}

#web-tec-desc {
    width: 80%;
    margin: 2vh auto auto;
}

#web-vip {
    margin-top: 10vh;
    height: 600px;
    border-bottom: lightgray solid 2px;
}

#web-vip-font {
    width: 200px;
    font-size: 30px;
    margin: auto;
}

#web-success {
    margin-top: 10vh;
    height: 1330px;
}

#web-success-font {
    width: 200px;
    font-size: 30px;
    margin: auto;
}

.vip-svg-true {
    width: 20px !important;
}

.vip-svg-false {
    width: 20px !important;
}

#web-link {
    height: 50px;
    line-height: 50px;
}

.web-success-example {
    margin: 5vh auto auto;
    padding-bottom: 3vh;
    width: 90%;
    border-bottom: black solid 2px;
}

.web-success-example img {
    float: left;
    width: 80px !important;
    margin-top: 10px;
    margin-left: 40px;
}

.web-success-example span {
    font-size: 25px !important;
    line-height: 100px;
}

.web-success-example div {
    text-indent: 2rem;
}

.web-success-title {
    width: 90%;
    height: 100px;
    display: inline-block;
}
